{% extends 'base.html.twig' %}

{% block title %}Admin Login!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Please Login</h1>

        {% if error %}
            <div style="color: #B0413E">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form action="{{ path('app_admin_login') }}" method="post" class="space-y-4 md:space-y-6">

            <div>
                <label for="username" class="">Username</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class=""  placeholder="" >
            </div>

            <div>
                <label for="password" class="">Username</label>
                <input type="password" id="password" name="_password" value="{{ last_username }}" class=""  placeholder="">
            </div>

            <div class="">
                <div class="">
                    <input id="remember_me" aria-describedby="remember_me" name="_remember_me" type="checkbox" class="">
                    <label for="remember_me" class="">Remember me</label>
                </div>
            </div>

            <div>
                <button type="submit"
                        class="">
                    Sign in
                </button>
            </div>

        </form>
    </div>
{% endblock %}
